In [1]:
import pandas as pd
import numpy as np
import pylab as plt
%matplotlib inline

from ipywidgets import FloatProgress
from IPython.display import display

## Plans for Cleaning up the GPA data

For this data analysis task, we have two raw data files regarding the admission information of the universities of California. The first file is dealing with various kinds of GPAs and the second file contains valuable information regarding applicant numbers. Therefore, the plan for our data cleaning task is to merge the two data files together. The main purpose for the data merging is that, other than the two variables mentioned above (GPA and student number), the other variables are consistent. It would be redundant and wasteful of space to keep two files separately. 

Before we proceed to the merging, we have to clean up individual file first. The first step of the clean-up is to replace some confusing column names with the ones that could be easily manipulated, such as, replacing "Uad Uc Ethn 6 Cat" with "ethnicity" and "Measure Name" with "type" etc. Then some preliminary files merging could be initiated. Before the merging was happening, we have the liberty to pick up columns that are useful to our analysis. This cleaning process will also reduce the size of the combined data sets. As the two files getting merged, we could do some further cleaning on the newly-created file, for example, we could delete rows that have NaN in the GPA column. 

As we are getting satisfied with dropping the rows that are useless, we would be able to notice that there are some more cleaning work we could do by looking at the existing data file. First of all, instead of having three different types - enrolled ('enr'), admitted ('adm') and applied ('app'), we could explicitly unpack this column and make seperate columns for specific variables that are relevant to 'type', for example, we have columns like 'adm_gpa' to stand for GPA for admission, and 'enr_num' for the number of students that enroll into any university etc. Next, as there are only nine universities in University of California system, it becomes natural to regroup the data by campus. By doing this, 'campus' becomes a categorical field.

## Open up GPA data

In [3]:
gpa_data_raw = pd.read_csv("data/FR_GPA_by_Inst_data_converted.csv")
gpa_data_raw.head()

,Calculation1,Campus,City,County,Fall Term,Measure Names,School,Measure Values
0,21ST CENTURY EXPERIMENTAL SCH694223,Santa Cruz,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
1,21ST CENTURY EXPERIMENTAL SCH694223,Santa Barbara,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
2,21ST CENTURY EXPERIMENTAL SCH694223,San Diego,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
3,21ST CENTURY EXPERIMENTAL SCH694223,Los Angeles,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
4,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN

Clean up the GPA data.
Rename many of the columns, replace string NaNs with literal NaN values, unify the "applied", "admitted", and "enrolled" codes.

In [4]:
gpa_data = gpa_data_raw.drop(columns="School")
renaming = {"Uad Uc Ethn 6 Cat": "Ethnicity", 
             "Calculation1": "school",
             "Campus": "campus",
             "City": "city",
             "County": "county",
             "Fall Term":"year",
             "Measure Names": "type",
             'Uad Uc Ethn 6 Cat':"ethnicity",
             "Measure Values": "gpa"}
gpa_data = gpa_data.rename(index=str, columns=renaming)
gpa_data['city'].replace('n/a ', np.nan, inplace=True) #TODO maybe not use nan since not a number
gpa_data['county'].replace('Not Applicable', np.nan, inplace=True)
renaming = {"Enrl GPA":"enr",
           "Adm GPA":"adm",
           "App GPA":"app"}
gpa_data['type'].replace(renaming, inplace=True)
gpa_data.head()

,school,campus,city,county,year,type,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Santa Cruz,NaN,NaN,2017,enr,NaN
1,21ST CENTURY EXPERIMENTAL SCH694223,Santa Barbara,NaN,NaN,2017,enr,NaN
2,21ST CENTURY EXPERIMENTAL SCH694223,San Diego,NaN,NaN,2017,enr,NaN
3,21ST CENTURY EXPERIMENTAL SCH694223,Los Angeles,NaN,NaN,2017,enr,NaN
4,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,NaN,2017,enr,NaN

The "school" represents a high school; "campus" is which UC campus ("Univeristywide" represents total of all campuses); "city" is which city the high school is in, or NaN if HS is outside California; "county" is which county the high school is in, or NaN if HS is outside California; "year" is the year of the fall term that students started; "type" is which metric we are measuring, either the GPA of applied, admitted, or enrolled students; "gpa" is the actual GPA of this group of students.

## Open up count data

In [5]:
hs_data_raw = pd.read_csv("data/HS_by_Year_data_converted.csv")
print(hs_data_raw.columns)
hs_data_raw.head()

Index(['Calculation1', 'Campus', 'City', 'County/State/ Territory',
       'Fall Term', 'Measure Names', 'Uad Uc Ethn 6 Cat', 'Measure Values'],
      dtype='object')

,Calculation1,Campus,City,County/State/ Territory,Fall Term,Measure Names,Uad Uc Ethn 6 Cat,Measure Values
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0

Clean up this data. Make the column names consistent with the other table so we can merge them

In [6]:
# hs_data = hs_data_raw.drop(columns="School")
renaming = {"Uad Uc Ethn 6 Cat": "Ethnicity", 
             "Calculation1": "school",
             "Campus": "campus",
             "City": "city",
             "County/State/ Territory": "region",
             "Fall Term":"year",
             "Measure Names": "type",
             'Uad Uc Ethn 6 Cat':"ethnicity",
             "Measure Values": "num"}
hs_data = hs_data_raw.rename(index=str, columns=renaming)
hs_data.head()

,school,campus,city,region,year,type,ethnicity,num
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0

The "school" represents a high school; "campus" is which UC campus ("Univeristywide" represents total of all campuses); "city" is which city the high school is in, or NaN if HS is outside California; "region" is either the name of a US state, or the name of the country that HS is in; "year" is the year of the fall term that students started; "type" is which metric we are measuring, either the GPA of applied, admitted, or enrolled students; "ethnicity" is the ethnicity of thie group of students, or "All" for the union of these groups; "num" is how many students belong to this group.

## Merge the two datasets
When any two rows match on every one of the columns ['school', 'campus', 'city', 'year', 'type'], then merge these two rows. The GPA data contains two columns that the HS data does not: "county" and "gpa". The HS data contains two columns that the GPA data does not: "region" and "num". Therefore, these columns will be filled with NaNs in the merged. For instance, if a record exists in the HS data but not in the GPA data, then the corresponding record in the merged table will have NaN in the "region" column, since we don't know how to fill this in.

In [7]:
merged = pd.merge(hs_data, gpa_data, on=['school', 'campus', 'city', 'year', 'type'])
merged.head()

,school,campus,city,region,year,type,ethnicity,num,county,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000

## A few other cleaning steps
Some of the rows have NaN in both the GPA and num fields, and thus are useless, so delete them.

In [8]:
print("number or rows before dropping NaN rows:", merged.shape[0])
cleaned = merged[   pd.notnull(merged['num']) & pd.notnull(merged['gpa'])  ]
print("number or rows after dropping NaN rows:", cleaned.shape[0])
cleaned.head()

number or rows before dropping NaN rows: 146424
number or rows after dropping NaN rows: 69869

,school,campus,city,region,year,type,ethnicity,num,county,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000

"region" field is NaN whenever the school is in California, so make this actually work. "region" field is also fully capitalized if it is not a US state, so make a new boolean column for if the high school is international.

In [9]:
merged['region'].replace(np.nan, 'California', inplace=True)
merged['is_international'] = merged['region'] == merged['region'].str.upper()
merged['school_id'] = pd.applymerged['school']

AttributeError: module 'pandas' has no attribute 'applymerged'

In [11]:
merged

,school,campus,city,region,year,type,ethnicity,num,county,gpa,is_international
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667,True
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417,True
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324,True
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000,True
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000,True
5,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0,NaN,3.755833,True
6,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,12.0,NaN,3.755833,True
7,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,Inter- national,18.0,NaN,3.680000,True
8,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,19.0,NaN,3.680000,True
9,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,enr,All,3.0,NaN,NaN,True
10,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,adm,All,4.0,NaN,NaN,True
11,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,app,All,5.0,NaN,3.704000,True
12,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,NaN,NaN,NaN,True
13,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,NaN,NaN,NaN,True
14,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,18.0,NaN,4.052143,True
15,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,NaN,NaN,NaN,True
16,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,NaN,NaN,NaN,True
17,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,5.0,NaN,3.972000,True
18,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,4.0,NaN,NaN,True
19,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,21.0,NaN,4.013125,True
20,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,30.0,NaN,3.873200,True
21,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,NaN,NaN,NaN,True
22,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,NaN,NaN,NaN,True
23,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,9.0,NaN,3.827778,True
24,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,4.0,NaN,NaN,True
25,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,19.0,NaN,4.062857,True
26,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,36.0,NaN,3.841000,True
27,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,3.0,NaN,NaN,True
28,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,3.0,NaN,NaN,True
29,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,7.0,NaN,3.920000,True
...,...,...,...,...,...,...,...,...,...,...,...
146394,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,enr,All,NaN,NaN,NaN,False
146395,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,adm,All,NaN,NaN,NaN,False
146396,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,app,All,5.0,NaN,3.950000,False
146397,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,enr,All,NaN,NaN,NaN,False
146398,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,adm,All,6.0,NaN,4.265000,False
146399,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,app,All,9.0,NaN,4.085556,False
146400,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,enr,All,NaN,NaN,NaN,False
146401,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,adm,All,3.0,NaN,NaN,False
146402,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,app,All,6.0,NaN,3.860000,False
146403,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,enr,Asian,NaN,NaN,NaN,False
146404,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,enr,All,NaN,NaN,NaN,False
146405,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,adm,Asian,3.0,NaN,NaN,False
146406,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,adm,All,3.0,NaN,NaN,False
146407,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,app,Asian,6.0,NaN,4.115714,False
146408,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,app,All,7.0,NaN,4.115714,False
146409,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,enr,All,NaN,NaN,NaN,False
146410,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,adm,All,NaN,NaN,NaN,False
146411,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,app,All,5.0,NaN,3.980000,False
146412,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,enr,All,NaN,NaN,NaN,False
146413,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,adm,All,3.0,NaN,NaN,False
146414,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,app,All,5.0,NaN,4.076000,False
146415,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,enr,All,NaN,NaN,NaN,False
146416,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,adm,All,3.0,NaN,NaN,False
146417,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,app,All,5.0,NaN,4.076000,False
146418,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,enr,All,NaN,NaN,NaN,False
146419,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,adm,All,4.0,NaN,NaN,False
146420,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,app,All,5.0,NaN,3.702000,False
146421,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,enr,All,NaN,NaN,NaN,False
146422,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,adm,All,NaN,NaN,NaN,False
146423,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,app,All,7.0,NaN,3.561429,False

## Flattenining multiple measurements onto a single row

The files we have downloaded from the University of California database used an unusual format for storing the data. Each row represented a single measurement, that is, it contained the following:

- Information about the UC campus, high school, county, etc.
- Type of the measurement (for enrolled students, for admitted students, for applying students)
- Value of the measurement (average GPA, number of students)

That means, that the data about applicants from a given high school to a given UC campus was split into 6 rows.

However, we wanted our rows to represent applicants from a single high school, to a single UC campus in a given year. That is why we decided to merge the underlying 6 rows into a single row.

In [12]:
type_column = 'type'
readout_columns = ['gpa', 'num']

def pack_readout_rows(df, type_column, readout_columns):
    # https://github.com/pandas-dev/pandas/issues/3729
    df = df.replace(np.nan, 'NaN_placeholder', regex=True)
    
    group_by_columns = list(df)
    for to_remove in [type_column] + readout_columns:
        group_by_columns.remove(to_remove)
    
    def group_to_row(g):
        result = dict(g[group_by_columns].iloc[0])

        for t in group['type'].unique():
            for readout_column in readout_columns:
                column_name = t + '_' + readout_column
                result[column_name] = group[group[type_column] == t][readout_column].iloc[0]
        return result
    
    rows = []
    group_by_result = df.groupby(group_by_columns)
    row_count = (len(group_by_result))
    current_row_index = 0
    
    f = FloatProgress(min=0, max=row_count)
    display(f)
    
    for name, group in group_by_result:
        rows.append(group_to_row(group))
        current_row_index += 1
        if current_row_index % 100 == 0:
            f.value = current_row_index
    f.value = current_row_index
    return pd.DataFrame(rows).replace('NaN_placeholder', np.nan, regex=True)

packed = pack_readout_rows(merged, type_column, readout_columns)
packed = packed.sort_values(['campus', 'year', 'school'])
packed

FloatProgress(value=0.0, max=48808.0)

,adm_gpa,adm_num,app_gpa,app_num,campus,city,county,enr_gpa,enr_num,ethnicity,is_international,region,school,year
1495,NaN,4.0,3.715455,11.0,Berkeley,Albuquerque,NaN,NaN,NaN,All,False,New Mexico,ALBUQUERQUE ACADEMY320003,1994
1496,NaN,NaN,3.715455,6.0,Berkeley,Albuquerque,NaN,NaN,NaN,White,False,New Mexico,ALBUQUERQUE ACADEMY320003,1994
3115,NaN,4.0,3.573000,10.0,Berkeley,NaN,NaN,NaN,NaN,All,True,JAPAN,AMERICAN SCHOOL IN JAPAN680400,1994
3116,NaN,NaN,3.573000,5.0,Berkeley,NaN,NaN,NaN,NaN,Asian,True,JAPAN,AMERICAN SCHOOL IN JAPAN680400,1994
6189,NaN,3.0,3.781429,7.0,Berkeley,Baton Rouge,NaN,NaN,NaN,All,False,Louisiana,BATON ROUGE MAGNET HIGH SCHOOL190179,1994
7296,4.185000,6.0,3.960000,12.0,Berkeley,Bellaire,NaN,NaN,NaN,All,False,Texas,BELLAIRE SENIOR HIGH SCHOOL440557,1994
7297,4.185000,3.0,3.960000,6.0,Berkeley,Bellaire,NaN,NaN,NaN,Asian,False,Texas,BELLAIRE SENIOR HIGH SCHOOL440557,1994
7298,4.185000,3.0,3.960000,6.0,Berkeley,Bellaire,NaN,NaN,NaN,White,False,Texas,BELLAIRE SENIOR HIGH SCHOOL440557,1994
7622,4.172000,5.0,4.071250,8.0,Berkeley,Bellevue,NaN,NaN,3.0,All,False,Washington,BELLEVUE SENIOR HIGH SCHOOL480070,1994
7623,4.172000,5.0,4.071250,7.0,Berkeley,Bellevue,NaN,NaN,3.0,White,False,Washington,BELLEVUE SENIOR HIGH SCHOOL480070,1994
8099,NaN,3.0,4.087143,7.0,Berkeley,Oakland Gardens,NaN,NaN,NaN,All,False,New York,BENJAMIN CARDOZO HIGH SCHOOL330357,1994
8375,NaN,NaN,3.721667,6.0,Berkeley,Bethesda,NaN,NaN,NaN,All,False,Maryland,BETHESDA CHEVY CHASE HS210250,1994
8376,NaN,NaN,3.721667,5.0,Berkeley,Bethesda,NaN,NaN,NaN,White,False,Maryland,BETHESDA CHEVY CHASE HS210250,1994
10940,NaN,4.0,3.561250,8.0,Berkeley,Bronx,NaN,NaN,NaN,All,False,New York,BRONX HIGH SCHOOL OF SCIENCE333480,1994
11216,3.746667,6.0,3.509091,11.0,Berkeley,Brookline,NaN,NaN,NaN,All,False,Massachusetts,BROOKLINE HIGH SCHOOL220445,1994
11419,NaN,NaN,4.032000,5.0,Berkeley,Brooklyn,NaN,NaN,NaN,All,False,New York,BROOKLYN TECHNICAL HIGH SCHOOL330630,1994
12419,NaN,3.0,3.485000,11.0,Berkeley,NaN,NaN,NaN,3.0,All,False,California,CANADA990009,1994
12420,NaN,NaN,3.485000,6.0,Berkeley,NaN,NaN,NaN,NaN,Inter- national,False,California,CANADA990009,1994
16306,NaN,NaN,3.434000,5.0,Berkeley,New City,NaN,NaN,NaN,All,False,New York,CLARKSTOWN HIGH SCHOOL NORTH333325,1994
16360,NaN,NaN,3.886000,5.0,Berkeley,Clayton,NaN,NaN,NaN,All,False,Missouri,CLAYTON HIGH SCHOOL260645,1994
21602,NaN,3.0,3.873333,6.0,Berkeley,Timonium,NaN,NaN,NaN,All,False,Maryland,DULANEY HIGH210730,1994
22217,NaN,4.0,3.866667,6.0,Berkeley,East Brunswick,NaN,NaN,NaN,All,False,New Jersey,EAST BRUNSWICK HIGH SCHOOL310283,1994
23886,NaN,3.0,3.963333,6.0,Berkeley,Greenbelt,NaN,NaN,NaN,All,False,Maryland,ELEANOR ROOSEVELT HIGH SCHOOL210597,1994
23887,NaN,3.0,3.963333,5.0,Berkeley,Greenbelt,NaN,NaN,NaN,Asian,False,Maryland,ELEANOR ROOSEVELT HIGH SCHOOL210597,1994
24134,NaN,3.0,3.636250,14.0,Berkeley,NaN,NaN,NaN,NaN,All,True,ENGLAND,ENGLAND990018,1994
24135,NaN,NaN,3.636250,5.0,Berkeley,NaN,NaN,NaN,NaN,Asian,True,ENGLAND,ENGLAND990018,1994
24136,NaN,NaN,3.636250,6.0,Berkeley,NaN,NaN,NaN,NaN,Inter- national,True,ENGLAND,ENGLAND990018,1994
24524,NaN,NaN,3.565714,7.0,Berkeley,NaN,NaN,NaN,NaN,All,True,CANADA,ERIC HAMBER SECONDARY SCHOOL821430,1994
24525,NaN,NaN,3.565714,5.0,Berkeley,NaN,NaN,NaN,NaN,Inter- national,True,CANADA,ERIC HAMBER SECONDARY SCHOOL821430,1994
26853,NaN,5.0,4.136250,9.0,Berkeley,Seattle,NaN,NaN,NaN,All,False,Washington,GARFIELD HIGH SCHOOL481115,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48225,3.917222,18.0,3.722927,41.0,Universitywide,Chicago,NaN,NaN,NaN,All,False,Illinois,LANE TECHNICAL HIGH SCHOOL140640,2017
48226,3.917222,NaN,3.722927,9.0,Universitywide,Chicago,NaN,NaN,NaN,Asian,False,Illinois,LANE TECHNICAL HIGH SCHOOL140640,2017
48227,3.917222,NaN,3.722927,7.0,Universitywide,Chicago,NaN,NaN,NaN,Hispanic/ Latino,False,Illinois,LANE TECHNICAL HIGH SCHOOL140640,2017
48228,3.917222,14.0,3.722927,20.0,Universitywide,Chicago,NaN,NaN,NaN,White,False,Illinois,LANE TECHNICAL HIGH SCHOOL140640,2017
48236,3.633333,6.0,3.661111,9.0,Universitywide,Houston,NaN,NaN,NaN,All,False,Texas,LANGHAM CREEK HIGH SCHOOL443424,2017
48415,3.860690,29.0,3.790204,49.0,Universitywide,Mclean,NaN,3.900833,12.0,All,False,Virginia,LANGLEY HIGH SCHOOL471393,2017
48416,3.860690,8.0,3.790204,20.0,Universitywide,Mclean,NaN,3.900833,6.0,Asian,False,Virginia,LANGLEY HIGH SCHOOL471393,2017
48417,3.860690,17.0,3.790204,22.0,Universitywide,Mclean,NaN,3.900833,6.0,White,False,Virginia,LANGLEY HIGH SCHOOL471393,2017
48425,NaN,NaN,3.298000,6.0,Universitywide,NaN,NaN,NaN,NaN,All,True,"CHINA, PEOPLES REPUBLIC",LANZHOU NO 1 SENIOR HS GANSU694556,2017
48459,4.088750,8.0,4.088750,8.0,Universitywide,Las Cruces,NaN,NaN,NaN,All,False,New Mexico,LAS CRUCES HIGH SCHOOL320370,2017
48555,4.030000,16.0,3.828462,26.0,Universitywide,Las Vegas,NaN,NaN,NaN,All,False,Nevada,LAS VEGAS ACADEMY OF THE ARTS290119,2017
48556,4.030000,5.0,3.828462,7.0,Universitywide,Las Vegas,NaN,NaN,NaN,Asian,False,Nevada,LAS VEGAS ACADEMY OF THE ARTS290119,2017
48557,4.030000,3.0,3.828462,7.0,Universitywide,Las Vegas,NaN,NaN,NaN,Hispanic/ Latino,False,Nevada,LAS VEGAS ACADEMY OF THE ARTS290119,2017
48558,4.030000,6.0,3.828462,7.0,Universitywide,Las Vegas,NaN,NaN,NaN,White,False,Nevada,LAS VEGAS ACADEMY OF THE ARTS290119,2017
48559,NaN,3.0,4.076667,6.0,Universitywide,Las Vegas,NaN,NaN,NaN,All,False,Nevada,LAS VEGAS HIGH SCHOOL290100,2017
48568,NaN,3.0,3.776364,11.0,Universitywide,Marietta,NaN,NaN,NaN,All,False,Georgia,LASSITER HIGH SCHOOL111983,2017
48586,NaN,NaN,3.816667,6.0,Universitywide,Chicago,NaN,NaN,NaN,All,False,Illinois,LATIN SCHOOL OF CHICAGO140935,2017
48603,NaN,4.0,3.748889,10.0,Universitywide,Memphis,NaN,NaN,NaN,All,False,Tennessee,LAUSANNE COLLEGIATE SCHOOL431435,2017
48608,NaN,3.0,3.575000,6.0,Universitywide,Groton,NaN,NaN,NaN,All,False,Massachusetts,LAWRENCE ACADEMY220940,2017
48627,NaN,3.0,4.065000,8.0,Universitywide,Lawrence,NaN,NaN,NaN,All,False,Kansas,LAWRENCE FREE STATE HS171691,2017
48628,NaN,3.0,4.065000,6.0,Universitywide,Lawrence,NaN,NaN,NaN,White,False,Kansas,LAWRENCE FREE STATE HS171691,2017
48631,4.068000,5.0,4.098333,6.0,Universitywide,Lawrence,NaN,NaN,NaN,All,False,Kansas,LAWRENCE HIGH SCHOOL171690,2017
48643,NaN,3.0,3.734000,6.0,Universitywide,Woodmere,NaN,NaN,NaN,All,False,New York,LAWRENCE WOODMERE ACADEMY336015,2017
48785,3.758421,NaN,3.686667,6.0,Universitywide,Lawrenceville,NaN,NaN,NaN,African American,False,New Jersey,LAWRENCEVILLE SCHOOL310680,2017
48786,3.758421,19.0,3.686667,44.0,Universitywide,Lawrenceville,NaN,NaN,NaN,All,False,New Jersey,LAWRENCEVILLE SCHOOL310680,2017
48787,3.758421,6.0,3.686667,14.0,Universitywide,Lawrenceville,NaN,NaN,NaN,Asian,False,New Jersey,LAWRENCEVILLE SCHOOL310680,2017
48788,3.758421,3.0,3.686667,7.0,Universitywide,Lawrenceville,NaN,NaN,NaN,Inter- national,False,New Jersey,LAWRENCEVILLE SCHOOL310680,2017
48789,3.758421,NaN,3.686667,8.0,Universitywide,Lawrenceville,NaN,NaN,NaN,White,False,New Jersey,LAWRENCEVILLE SCHOOL310680,2017
48802,4.020000,5.0,4.071250,8.0,Universitywide,Tallahassee,NaN,NaN,3.0,All,False,Florida,LAWTON CHILES HIGH SCHOOL101654,2017
48803,4.020000,3.0,4.071250,6.0,Universitywide,Tallahassee,NaN,NaN,3.0,Asian,False,Florida,LAWTON CHILES HIGH SCHOOL101654,2017

## Visualizations

To show the type of information stored in our dataset, we decided to show it on a variety of different graphs.

### Applying vs Admitted vs Enrolled GPA

We wanted to see what the differences between applying, admitted, and enrolled students' GPAs are. In order to do that, we used our `*_num` and `*_gpa` columns to properly compute the average GPA of students at the UC universities.

Unsurprisingly, the applying student pool had the lowest mean GPA. Moreover, the enrolled student pool had lower GPAs than admitted students. This makes sense, since the students from the top of the accepted pool are more likely to get offers from other universities.

In [ ]:
def avg_gpa_finder(data):
    d = {}
    d['adm_gpa'] = (data['adm_gpa'] * data['adm_num']).sum() / (data[data['adm_gpa'].notnull()]['adm_num'].sum())
    d['app_gpa'] = (data['app_gpa'] * data['app_num']).sum() / (data[data['app_gpa'].notnull()]['app_num'].sum())
    d['enr_gpa'] = (data['enr_gpa'] * data['enr_num']).sum() / (data[data['enr_gpa'].notnull()]['enr_num'].sum())
    return pd.Series(d, index=['adm_gpa', 'app_gpa', 'enr_gpa'])

packed.groupby(['campus']).apply(avg_gpa_finder).plot.bar()

### Average Admitted GPA Inflation over the years

We are interested in exploring how the average admitted, enrolled and applied GPAs have changed over the years. The line plots describe the trend, in which the GPA tends to increase before 2007 and suddenly drops afterwards. After 2010, the increasing trend of GPAs goes on. So, during recent years, GPA does get inflated. This suggests to us that, in order to predict the ratio between the applicants and the students who were actually enrolled, we might need to look at data in recent years.

In [ ]:
packed.groupby(['year']).apply(avg_gpa_finder).plot.line()

### Admitted Students vs Enrolled Students 

The goal of this project is to predict the ratio between the enrolled students and the admitted students in the future. Therefore, a scatterplot between the enrolled and the admitted from the past would give us an indication of how our model needs to be built. The data regarding "Universitywide" is excluded from this plot because we are interested in each individual university.

In [ ]:
def adm_enr_num(data):
    d = {}
    d['adm_num'] = data['adm_num'].sum()
    d['enr_num'] = data['enr_num'].sum()
    return pd.Series(d, index=['adm_num', 'enr_num'])

enr_adm_num_c = packed[packed['campus'] != 'Universitywide'].groupby(['campus']).apply(adm_enr_num)

x, y = enr_adm_num_c.adm_num, enr_adm_num_c.enr_num # should exclude the Universitywide data
campus_names = ['Berkeley', 'Irvine', 'Davis', 'Los Angeles', 'Merced', 'Riverside', 'San Diego',
               'Santa Barbara', 'Santa Cruz']
campus_names.sort()

plt.scatter(x, y)
plt.xlabel('admitted')
plt.ylabel('enrolled')

for i in range(0, len(campus_names)):
    plt.annotate(campus_names[i], (x[i], y[i]))