In [1]:
import pandas as pd
import numpy as np
import pylab as plt
%matplotlib inline

from ipywidgets import FloatProgress
from IPython.display import display

## Plans for Cleaning up the GPA data

For this data analysis task, we have two raw data files regarding the admission information of the universities of California. The first file is dealing with various kinds of GPAs and the second file contains valuable information regarding applicant numbers. Therefore, the plan for our data cleaning task is to merge the two data files together. The main purpose for the data merging is that, other than the two variables mentioned above (GPA and student number), the other variables are consistent. It would be redundant and wasteful of space to keep two files separately. 

Before we proceed to the merging, we have to clean up individual file first. The first step of the clean-up is to replace some confusing column names with the ones that could be easily manipulated, such as, replacing "Uad Uc Ethn 6 Cat" with "ethnicity" and "Measure Name" with "type" etc. Then some preliminary files merging could be initiated. Before the merging was happening, we have the liberty to pick up columns that are useful to our analysis. This cleaning process will also reduce the size of the combined data sets. As the two files getting merged, we could do some further cleaning on the newly-created file, for example, we could delete rows that have NaN in the GPA column. 

As we are getting satisfied with dropping the rows that are useless, we would be able to notice that there are some more cleaning work we could do by looking at the existing data file. First of all, instead of having three different types - enrolled ('enr'), admitted ('adm') and applied ('app'), we could explicitly unpack this column and make seperate columns for specific variables that are relevant to 'type', for example, we have columns like 'adm_gpa' to stand for GPA for admission, and 'enr_num' for the number of students that enroll into any university etc. Next, as there are only nine universities in University of California system, it becomes natural to regroup the data by campus. By doing this, 'campus' becomes a categorical field.

## Open up GPA data

In [2]:
gpa_data_raw = pd.read_csv("data/FR_GPA_by_Inst_data_converted.csv")
gpa_data_raw.head()

,Calculation1,Campus,City,County,Fall Term,Measure Names,School,Measure Values
0,21ST CENTURY EXPERIMENTAL SCH694223,Santa Cruz,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
1,21ST CENTURY EXPERIMENTAL SCH694223,Santa Barbara,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
2,21ST CENTURY EXPERIMENTAL SCH694223,San Diego,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
3,21ST CENTURY EXPERIMENTAL SCH694223,Los Angeles,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN
4,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,n/a,Not Applicable,2017,Enrl GPA,21ST CENTURY EXPERIMENTAL SCH,NaN

Clean up the GPA data.
Rename many of the columns, replace string NaNs with literal NaN values, unify the "applied", "admitted", and "enrolled" codes.

In [3]:
gpa_data = gpa_data_raw.drop(columns="School")
renaming = {"Uad Uc Ethn 6 Cat": "Ethnicity", 
             "Calculation1": "school",
             "Campus": "campus",
             "City": "city",
             "County": "county",
             "Fall Term":"year",
             "Measure Names": "type",
             'Uad Uc Ethn 6 Cat':"ethnicity",
             "Measure Values": "gpa"}
gpa_data = gpa_data.rename(index=str, columns=renaming)
gpa_data['city'].replace('n/a ', np.nan, inplace=True) #TODO maybe not use nan since not a number
gpa_data['county'].replace('Not Applicable', np.nan, inplace=True)
renaming = {"Enrl GPA":"enr",
           "Adm GPA":"adm",
           "App GPA":"app"}
gpa_data['type'].replace(renaming, inplace=True)
gpa_data.head()

,school,campus,city,county,year,type,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Santa Cruz,NaN,NaN,2017,enr,NaN
1,21ST CENTURY EXPERIMENTAL SCH694223,Santa Barbara,NaN,NaN,2017,enr,NaN
2,21ST CENTURY EXPERIMENTAL SCH694223,San Diego,NaN,NaN,2017,enr,NaN
3,21ST CENTURY EXPERIMENTAL SCH694223,Los Angeles,NaN,NaN,2017,enr,NaN
4,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,NaN,2017,enr,NaN

The "school" represents a high school; "campus" is which UC campus ("Univeristywide" represents total of all campuses); "city" is which city the high school is in, or NaN if HS is outside California; "county" is which county the high school is in, or NaN if HS is outside California; "year" is the year of the fall term that students started; "type" is which metric we are measuring, either the GPA of applied, admitted, or enrolled students; "gpa" is the actual GPA of this group of students.

## Open up count data

In [4]:
hs_data_raw = pd.read_csv("data/HS_by_Year_data_converted.csv")
print(hs_data_raw.columns)
hs_data_raw.head()

Index(['Calculation1', 'Campus', 'City', 'County/State/ Territory',
       'Fall Term', 'Measure Names', 'Uad Uc Ethn 6 Cat', 'Measure Values'],
      dtype='object')

,Calculation1,Campus,City,County/State/ Territory,Fall Term,Measure Names,Uad Uc Ethn 6 Cat,Measure Values
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0

Clean up this data. Make the column names consistent with the other table so we can merge them

In [5]:
# hs_data = hs_data_raw.drop(columns="School")
renaming = {"Uad Uc Ethn 6 Cat": "Ethnicity", 
             "Calculation1": "school",
             "Campus": "campus",
             "City": "city",
             "County/State/ Territory": "region",
             "Fall Term":"year",
             "Measure Names": "type",
             'Uad Uc Ethn 6 Cat':"ethnicity",
             "Measure Values": "num"}
hs_data = hs_data_raw.rename(index=str, columns=renaming)
hs_data.head()

,school,campus,city,region,year,type,ethnicity,num
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0

The "school" represents a high school; "campus" is which UC campus ("Univeristywide" represents total of all campuses); "city" is which city the high school is in, or NaN if HS is outside California; "region" is either the name of a US state, or the name of the country that HS is in; "year" is the year of the fall term that students started; "type" is which metric we are measuring, either the GPA of applied, admitted, or enrolled students; "ethnicity" is the ethnicity of thie group of students, or "All" for the union of these groups; "num" is how many students belong to this group.

## Merge the two datasets
When any two rows match on every one of the columns ['school', 'campus', 'city', 'year', 'type'], then merge these two rows. The GPA data contains two columns that the HS data does not: "county" and "gpa". The HS data contains two columns that the GPA data does not: "region" and "num". Therefore, these columns will be filled with NaNs in the merged. For instance, if a record exists in the HS data but not in the GPA data, then the corresponding record in the merged table will have NaN in the "region" column, since we don't know how to fill this in.

In [6]:
merged = pd.merge(hs_data, gpa_data, on=['school', 'campus', 'city', 'year', 'type'])
merged.head()

,school,campus,city,region,year,type,ethnicity,num,county,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000

## A few other cleaning steps
Some of the rows have NaN in both the GPA and num fields, and thus are useless, so delete them.

In [7]:
print("number or rows before dropping NaN rows:", merged.shape[0])
cleaned = merged[   pd.notnull(merged['num']) & pd.notnull(merged['gpa'])  ]
print("number or rows after dropping NaN rows:", cleaned.shape[0])
cleaned.head()

number or rows before dropping NaN rows: 146424
number or rows after dropping NaN rows: 69869

,school,campus,city,region,year,type,ethnicity,num,county,gpa
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000

"region" field is NaN whenever the school is in California, so make this actually work. "region" field is also fully capitalized if it is not a US state, so make a new boolean column for if the high school is international.

In [8]:
merged['region'].replace(np.nan, 'California', inplace=True)
merged['is_international'] = merged['region'] == merged['region'].str.upper()
# merged['school_id'] = pd.applymerged['school'] #TODO

In [9]:
merged

,school,campus,city,region,year,type,ethnicity,num,county,gpa,is_international
0,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,12.0,NaN,3.986667,True
1,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,30.0,NaN,4.020417,True
2,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,43.0,NaN,3.864324,True
3,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,5.0,NaN,3.920000,True
4,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,5.0,NaN,3.920000,True
5,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,12.0,NaN,3.755833,True
6,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,12.0,NaN,3.755833,True
7,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,Inter- national,18.0,NaN,3.680000,True
8,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,19.0,NaN,3.680000,True
9,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,enr,All,3.0,NaN,NaN,True
10,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,adm,All,4.0,NaN,NaN,True
11,21ST CENTURY EXPERIMENTAL SCH694223,Universitywide,NaN,"CHINA, PEOPLES REPUBLIC",2015,app,All,5.0,NaN,3.704000,True
12,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,NaN,NaN,NaN,True
13,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,NaN,NaN,NaN,True
14,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,18.0,NaN,4.052143,True
15,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,NaN,NaN,NaN,True
16,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,NaN,NaN,NaN,True
17,21ST CENTURY EXPERIMENTAL SCH694223,Berkeley,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,5.0,NaN,3.972000,True
18,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,4.0,NaN,NaN,True
19,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,21.0,NaN,4.013125,True
20,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,30.0,NaN,3.873200,True
21,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,NaN,NaN,NaN,True
22,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,All,NaN,NaN,NaN,True
23,21ST CENTURY EXPERIMENTAL SCH694223,Davis,NaN,"CHINA, PEOPLES REPUBLIC",2016,app,All,9.0,NaN,3.827778,True
24,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,enr,All,4.0,NaN,NaN,True
25,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,adm,All,19.0,NaN,4.062857,True
26,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2017,app,All,36.0,NaN,3.841000,True
27,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,Inter- national,3.0,NaN,NaN,True
28,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,enr,All,3.0,NaN,NaN,True
29,21ST CENTURY EXPERIMENTAL SCH694223,Irvine,NaN,"CHINA, PEOPLES REPUBLIC",2016,adm,Inter- national,7.0,NaN,3.920000,True
...,...,...,...,...,...,...,...,...,...,...,...
146394,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,enr,All,NaN,NaN,NaN,False
146395,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,adm,All,NaN,NaN,NaN,False
146396,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2016,app,All,5.0,NaN,3.950000,False
146397,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,enr,All,NaN,NaN,NaN,False
146398,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,adm,All,6.0,NaN,4.265000,False
146399,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2015,app,All,9.0,NaN,4.085556,False
146400,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,enr,All,NaN,NaN,NaN,False
146401,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,adm,All,3.0,NaN,NaN,False
146402,LAWTON CHILES HIGH SCHOOL101654,Berkeley,Tallahassee,Florida,2011,app,All,6.0,NaN,3.860000,False
146403,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,enr,Asian,NaN,NaN,NaN,False
146404,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,enr,All,NaN,NaN,NaN,False
146405,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,adm,Asian,3.0,NaN,NaN,False
146406,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,adm,All,3.0,NaN,NaN,False
146407,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,app,Asian,6.0,NaN,4.115714,False
146408,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2017,app,All,7.0,NaN,4.115714,False
146409,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,enr,All,NaN,NaN,NaN,False
146410,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,adm,All,NaN,NaN,NaN,False
146411,LAWTON CHILES HIGH SCHOOL101654,Los Angeles,Tallahassee,Florida,2015,app,All,5.0,NaN,3.980000,False
146412,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,enr,All,NaN,NaN,NaN,False
146413,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,adm,All,3.0,NaN,NaN,False
146414,LCPS ACADEMY OF SCIENCE472179,Universitywide,Sterling,Virginia,2015,app,All,5.0,NaN,4.076000,False
146415,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,enr,All,NaN,NaN,NaN,False
146416,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,adm,All,3.0,NaN,NaN,False
146417,LCPS ACADEMY OF SCIENCE472179,Los Angeles,Sterling,Virginia,2015,app,All,5.0,NaN,4.076000,False
146418,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,enr,All,NaN,NaN,NaN,False
146419,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,adm,All,4.0,NaN,NaN,False
146420,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2011,app,All,5.0,NaN,3.702000,False
146421,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,enr,All,NaN,NaN,NaN,False
146422,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,adm,All,NaN,NaN,NaN,False
146423,LE JARDIN ACADEMY120139,Universitywide,Kailua,Hawaii,2007,app,All,7.0,NaN,3.561429,False

## Flattenining multiple measurements onto a single row

The files we have downloaded from the University of California database used an unusual format for storing the data. Each row represented a single measurement, that is, it contained the following:

- Information about the UC campus, high school, county, etc.
- Type of the measurement (for enrolled students, for admitted students, for applying students)
- Value of the measurement (average GPA, number of students)

That means, that the data about applicants from a given high school to a given UC campus for a given year was split into 6 rows.

However, we wanted our rows to represent applicants from a single high school, to a single UC campus in a given year. That is why we decided to merge the underlying 6 rows into a single row.

In [10]:
type_column = 'type'
readout_columns = ['gpa', 'num']

def pack_readout_rows(df, type_column, readout_columns):
    # Pandas gives warning when doing all this fancy pivoting with NaNs,
    # so replace them with a temporary placeholder for now
    # https://github.com/pandas-dev/pandas/issues/3729
    df = df.replace(np.nan, 'NaN_placeholder', regex=True)
    
    # get all the columns we wish to group by
    # these are all of them besides type, gpa, and num
    group_by_columns = list(df)
    for to_remove in [type_column] + readout_columns:
        group_by_columns.remove(to_remove)
    
    def group_to_row(g):
        result = dict(g[group_by_columns].iloc[0])

        for t in group['type'].unique():
            for readout_column in readout_columns:
                column_name = t + '_' + readout_column
                result[column_name] = group[group[type_column] == t][readout_column].iloc[0]
        return result
    
    rows = []
    group_by_result = df.groupby(group_by_columns)
    row_count = (len(group_by_result))
    current_row_index = 0
    
    f = FloatProgress(min=0, max=row_count)
    display(f)
    
    for name, group in group_by_result:
        # ex: group is a selection of the 6 matching rows that we wish to merge
        # and name is the values of the school, campus, etc. columns that we grouped by
        rows.append(group_to_row(group))
        current_row_index += 1
        if current_row_index % 100 == 0:
            f.value = current_row_index
    f.value = current_row_index
    return pd.DataFrame(rows).replace('NaN_placeholder', np.nan, regex=True)

packed = pack_readout_rows(merged, type_column, readout_columns)
packed = packed.sort_values(['campus', 'year', 'school'])
better_col_order = ['campus', 
                    'year', 
                    'school', 
                    'city', 
                    'county',
                    'region', 
                    'is_international',
                    'ethnicity',
                    'app_num',
                    'adm_num',
                    'enr_num',
                    'app_gpa',
                    'adm_gpa',
                    'enr_gpa']
packed = packed[better_col_order]
packed

FloatProgress(value=0.0, max=48808.0)

,campus,year,school,city,county,region,is_international,ethnicity,app_num,adm_num,enr_num,app_gpa,adm_gpa,enr_gpa
1495,Berkeley,1994,ALBUQUERQUE ACADEMY320003,Albuquerque,NaN,New Mexico,False,All,11.0,4.0,NaN,3.715455,NaN,NaN
1496,Berkeley,1994,ALBUQUERQUE ACADEMY320003,Albuquerque,NaN,New Mexico,False,White,6.0,NaN,NaN,3.715455,NaN,NaN
3115,Berkeley,1994,AMERICAN SCHOOL IN JAPAN680400,NaN,NaN,JAPAN,True,All,10.0,4.0,NaN,3.573000,NaN,NaN
3116,Berkeley,1994,AMERICAN SCHOOL IN JAPAN680400,NaN,NaN,JAPAN,True,Asian,5.0,NaN,NaN,3.573000,NaN,NaN
6189,Berkeley,1994,BATON ROUGE MAGNET HIGH SCHOOL190179,Baton Rouge,NaN,Louisiana,False,All,7.0,3.0,NaN,3.781429,NaN,NaN
7296,Berkeley,1994,BELLAIRE SENIOR HIGH SCHOOL440557,Bellaire,NaN,Texas,False,All,12.0,6.0,NaN,3.960000,4.185000,NaN
7297,Berkeley,1994,BELLAIRE SENIOR HIGH SCHOOL440557,Bellaire,NaN,Texas,False,Asian,6.0,3.0,NaN,3.960000,4.185000,NaN
7298,Berkeley,1994,BELLAIRE SENIOR HIGH SCHOOL440557,Bellaire,NaN,Texas,False,White,6.0,3.0,NaN,3.960000,4.185000,NaN
7622,Berkeley,1994,BELLEVUE SENIOR HIGH SCHOOL480070,Bellevue,NaN,Washington,False,All,8.0,5.0,3.0,4.071250,4.172000,NaN
7623,Berkeley,1994,BELLEVUE SENIOR HIGH SCHOOL480070,Bellevue,NaN,Washington,False,White,7.0,5.0,3.0,4.071250,4.172000,NaN
8099,Berkeley,1994,BENJAMIN CARDOZO HIGH SCHOOL330357,Oakland Gardens,NaN,New York,False,All,7.0,3.0,NaN,4.087143,NaN,NaN
8375,Berkeley,1994,BETHESDA CHEVY CHASE HS210250,Bethesda,NaN,Maryland,False,All,6.0,NaN,NaN,3.721667,NaN,NaN
8376,Berkeley,1994,BETHESDA CHEVY CHASE HS210250,Bethesda,NaN,Maryland,False,White,5.0,NaN,NaN,3.721667,NaN,NaN
10940,Berkeley,1994,BRONX HIGH SCHOOL OF SCIENCE333480,Bronx,NaN,New York,False,All,8.0,4.0,NaN,3.561250,NaN,NaN
11216,Berkeley,1994,BROOKLINE HIGH SCHOOL220445,Brookline,NaN,Massachusetts,False,All,11.0,6.0,NaN,3.509091,3.746667,NaN
11419,Berkeley,1994,BROOKLYN TECHNICAL HIGH SCHOOL330630,Brooklyn,NaN,New York,False,All,5.0,NaN,NaN,4.032000,NaN,NaN
12419,Berkeley,1994,CANADA990009,NaN,NaN,California,False,All,11.0,3.0,3.0,3.485000,NaN,NaN
12420,Berkeley,1994,CANADA990009,NaN,NaN,California,False,Inter- national,6.0,NaN,NaN,3.485000,NaN,NaN
16306,Berkeley,1994,CLARKSTOWN HIGH SCHOOL NORTH333325,New City,NaN,New York,False,All,5.0,NaN,NaN,3.434000,NaN,NaN
16360,Berkeley,1994,CLAYTON HIGH SCHOOL260645,Clayton,NaN,Missouri,False,All,5.0,NaN,NaN,3.886000,NaN,NaN
21602,Berkeley,1994,DULANEY HIGH210730,Timonium,NaN,Maryland,False,All,6.0,3.0,NaN,3.873333,NaN,NaN
22217,Berkeley,1994,EAST BRUNSWICK HIGH SCHOOL310283,East Brunswick,NaN,New Jersey,False,All,6.0,4.0,NaN,3.866667,NaN,NaN
23886,Berkeley,1994,ELEANOR ROOSEVELT HIGH SCHOOL210597,Greenbelt,NaN,Maryland,False,All,6.0,3.0,NaN,3.963333,NaN,NaN
23887,Berkeley,1994,ELEANOR ROOSEVELT HIGH SCHOOL210597,Greenbelt,NaN,Maryland,False,Asian,5.0,3.0,NaN,3.963333,NaN,NaN
24134,Berkeley,1994,ENGLAND990018,NaN,NaN,ENGLAND,True,All,14.0,3.0,NaN,3.636250,NaN,NaN
24135,Berkeley,1994,ENGLAND990018,NaN,NaN,ENGLAND,True,Asian,5.0,NaN,NaN,3.636250,NaN,NaN
24136,Berkeley,1994,ENGLAND990018,NaN,NaN,ENGLAND,True,Inter- national,6.0,NaN,NaN,3.636250,NaN,NaN
24524,Berkeley,1994,ERIC HAMBER SECONDARY SCHOOL821430,NaN,NaN,CANADA,True,All,7.0,NaN,NaN,3.565714,NaN,NaN
24525,Berkeley,1994,ERIC HAMBER SECONDARY SCHOOL821430,NaN,NaN,CANADA,True,Inter- national,5.0,NaN,NaN,3.565714,NaN,NaN
26853,Berkeley,1994,GARFIELD HIGH SCHOOL481115,Seattle,NaN,Washington,False,All,9.0,5.0,NaN,4.136250,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48225,Universitywide,2017,LANE TECHNICAL HIGH SCHOOL140640,Chicago,NaN,Illinois,False,All,41.0,18.0,NaN,3.722927,3.917222,NaN
48226,Universitywide,2017,LANE TECHNICAL HIGH SCHOOL140640,Chicago,NaN,Illinois,False,Asian,9.0,NaN,NaN,3.722927,3.917222,NaN
48227,Universitywide,2017,LANE TECHNICAL HIGH SCHOOL140640,Chicago,NaN,Illinois,False,Hispanic/ Latino,7.0,NaN,NaN,3.722927,3.917222,NaN
48228,Universitywide,2017,LANE TECHNICAL HIGH SCHOOL140640,Chicago,NaN,Illinois,False,White,20.0,14.0,NaN,3.722927,3.917222,NaN
48236,Universitywide,2017,LANGHAM CREEK HIGH SCHOOL443424,Houston,NaN,Texas,False,All,9.0,6.0,NaN,3.661111,3.633333,NaN
48415,Universitywide,2017,LANGLEY HIGH SCHOOL471393,Mclean,NaN,Virginia,False,All,49.0,29.0,12.0,3.790204,3.860690,3.900833
48416,Universitywide,2017,LANGLEY HIGH SCHOOL471393,Mclean,NaN,Virginia,False,Asian,20.0,8.0,6.0,3.790204,3.860690,3.900833
48417,Universitywide,2017,LANGLEY HIGH SCHOOL471393,Mclean,NaN,Virginia,False,White,22.0,17.0,6.0,3.790204,3.860690,3.900833
48425,Universitywide,2017,LANZHOU NO 1 SENIOR HS GANSU694556,NaN,NaN,"CHINA, PEOPLES REPUBLIC",True,All,6.0,NaN,NaN,3.298000,NaN,NaN
48459,Universitywide,2017,LAS CRUCES HIGH SCHOOL320370,Las Cruces,NaN,New Mexico,False,All,8.0,8.0,NaN,4.088750,4.088750,NaN
48555,Universitywide,2017,LAS VEGAS ACADEMY OF THE ARTS290119,Las Vegas,NaN,Nevada,False,All,26.0,16.0,NaN,3.828462,4.030000,NaN
48556,Universitywide,2017,LAS VEGAS ACADEMY OF THE ARTS290119,Las Vegas,NaN,Nevada,False,Asian,7.0,5.0,NaN,3.828462,4.030000,NaN
48557,Universitywide,2017,LAS VEGAS ACADEMY OF THE ARTS290119,Las Vegas,NaN,Nevada,False,Hispanic/ Latino,7.0,3.0,NaN,3.828462,4.030000,NaN
48558,Universitywide,2017,LAS VEGAS ACADEMY OF THE ARTS290119,Las Vegas,NaN,Nevada,False,White,7.0,6.0,NaN,3.828462,4.030000,NaN
48559,Universitywide,2017,LAS VEGAS HIGH SCHOOL290100,Las Vegas,NaN,Nevada,False,All,6.0,3.0,NaN,4.076667,NaN,NaN
48568,Universitywide,2017,LASSITER HIGH SCHOOL111983,Marietta,NaN,Georgia,False,All,11.0,3.0,NaN,3.776364,NaN,NaN
48586,Universitywide,2017,LATIN SCHOOL OF CHICAGO140935,Chicago,NaN,Illinois,False,All,6.0,NaN,NaN,3.816667,NaN,NaN
48603,Universitywide,2017,LAUSANNE COLLEGIATE SCHOOL431435,Memphis,NaN,Tennessee,False,All,10.0,4.0,NaN,3.748889,NaN,NaN
48608,Universitywide,2017,LAWRENCE ACADEMY220940,Groton,NaN,Massachusetts,False,All,6.0,3.0,NaN,3.575000,NaN,NaN
48627,Universitywide,2017,LAWRENCE FREE STATE HS171691,Lawrence,NaN,Kansas,False,All,8.0,3.0,NaN,4.065000,NaN,NaN
48628,Universitywide,2017,LAWRENCE FREE STATE HS171691,Lawrence,NaN,Kansas,False,White,6.0,3.0,NaN,4.065000,NaN,NaN
48631,Universitywide,2017,LAWRENCE HIGH SCHOOL171690,Lawrence,NaN,Kansas,False,All,6.0,5.0,NaN,4.098333,4.068000,NaN
48643,Universitywide,2017,LAWRENCE WOODMERE ACADEMY336015,Woodmere,NaN,New York,False,All,6.0,3.0,NaN,3.734000,NaN,NaN
48785,Universitywide,2017,LAWRENCEVILLE SCHOOL310680,Lawrenceville,NaN,New Jersey,False,African American,6.0,NaN,NaN,3.686667,3.758421,NaN
48786,Universitywide,2017,LAWRENCEVILLE SCHOOL310680,Lawrenceville,NaN,New Jersey,False,All,44.0,19.0,NaN,3.686667,3.758421,NaN
48787,Universitywide,2017,LAWRENCEVILLE SCHOOL310680,Lawrenceville,NaN,New Jersey,False,Asian,14.0,6.0,NaN,3.686667,3.758421,NaN
48788,Universitywide,2017,LAWRENCEVILLE SCHOOL310680,Lawrenceville,NaN,New Jersey,False,Inter- national,7.0,3.0,NaN,3.686667,3.758421,NaN
48789,Universitywide,2017,LAWRENCEVILLE SCHOOL310680,Lawrenceville,NaN,New Jersey,False,White,8.0,NaN,NaN,3.686667,3.758421,NaN
48802,Universitywide,2017,LAWTON CHILES HIGH SCHOOL101654,Tallahassee,NaN,Florida,False,All,8.0,5.0,3.0,4.071250,4.020000,NaN
48803,Universitywide,2017,LAWTON CHILES HIGH SCHOOL101654,Tallahassee,NaN,Florida,False,Asian,6.0,3.0,3.0,4.071250,4.020000,NaN

Write out the processed data so we don't have to wait for that again! Don't bother writing the row indices.

In [19]:
packed.to_csv('data/processed.csv', sep=',', index=False)