In [1]:
import pandas as pd
%matplotlib inline
import pylab as plt
import numpy as np
import scipy as sc
import scipy.stats

In [143]:
def read_multi_xls(prefix, start_year, end_year, skip_row_count=0):
    data_frames = []
    for year in range(start_year, end_year+1):
        year_2dig = year % 100
        df = pd.read_excel(prefix + str(year_2dig).zfill(2) + '.xls',
                skiprows=list(range(skip_row_count)))
        df['year'] = year
        data_frames.append(df)
    return data_frames

def import_multi_xls(prefix, start_year, end_year, skip_row_count, columns_to_remove, must_have_columns=[]):
    data_frames = []
    column_names = None
    for year in range(start_year, end_year+1):
        year_2dig = year % 100
        df = pd.read_excel(prefix + str(year_2dig).zfill(2) + '.xls',
                skiprows=list(range(skip_row_count[year])))
        for c in columns_to_remove[year]:
            del df[c]
        
        # There are differences between column names, so we use the names from the first
        # dataframe
        if column_names is None:
            column_names = list(df)
        
        for col in must_have_columns:
            if col not in list(df):
                df.insert(column_names.index(col), col, np.nan)
                
        new_column_names = list(df)
        
        renamer = {}
        for i in range(len(column_names)):
            renamer[new_column_names[i]] = column_names[i]
        df.rename(columns=renamer, inplace=True)
        
        df['year'] = year
        
        data_frames.append(df)
    return pd.concat(data_frames)

In [144]:
ap_99_13 = import_multi_xls('data/test_scores/ap/ap', 1999, 2013, {
        1999: 2, 2000: 2, 2001: 2, 2002: 2, 2003: 2, 2004: 2, 2005: 2, 2006: 2, 2007: 2, 2008: 2,
        2009: 3, 2010: 3, 2011: 3, 2012: 3, 2013: 3,
    }, {
        1999: [], 2000: [], 2001: [], 2002: [], 2003: [],
        2004: ['Rate of Exams\nWith a Score of\n3 or Greater\nFor 12th Grade\nStudents', 'Rate of Exams\nWith a Score of\n3 or Greater\nFor 11th & 12th\nGrade Students'],
        2005: [], 2006: [], 2007: [], 2008: [], 2009: [], 2010: ['Year'], 2011: [], 2012: [], 2013: [],
    },
    ['Total\nNumber of\nExams Taken', 'Number\nof Exams\nWith a Score of\n3 or Greater']
)

In [146]:
ap_14_16 = pd.concat(read_multi_xls('data/test_scores/ap/ap', 2014, 2016))

In [152]:
ap_99_13

,County Number,District Number,School Number,County Name,District Name,School Name,Grade 11 Enrollment (October 1998 CBEDS),Grade 12 Enrollment (October 1998 CBEDS),Grade 11+12 Enrollment (October 1998 CBEDS),Number of AP Exam Takers,Total Number of Exams Taken,Number of Exams With a Score of 3 or Greater,Number of Exams With a Score of 1,Number of Exams With a Score of 2,Number of Exams With a Score of 3,Number of Exams With a Score of 4,Number of Exams With a Score of 5,year
0,1,10017,130401,Alameda,Alameda Co. Office Of Educatio,Juvenile Hall/Court,157.0,224.0,381.0,0.0,0,0,0,0,0,0,0,1999
1,1,10017,130419,Alameda,Alameda Co. Office Of Educatio,County Community,3.0,8.0,11.0,0.0,0,0,0,0,0,0,0,1999
2,1,10017,130427,Alameda,Alameda Co. Office Of Educatio,Alternative/Opportunity,35.0,67.0,102.0,0.0,0,0,0,0,0,0,0,1999
3,1,61119,130229,Alameda,Alameda City Unified,Alameda High,413.0,372.0,785.0,165.0,272,183,35,54,95,54,34,1999
4,1,61119,132878,Alameda,Alameda City Unified,Encinal High,350.0,240.0,590.0,138.0,267,77,86,104,53,22,2,1999
5,1,61119,134304,Alameda,Alameda City Unified,Island High (Cont.),67.0,119.0,186.0,0.0,0,0,0,0,0,0,0,1999
6,1,61127,130294,Alameda,Albany City Unified,Macgregor High (Cont.),9.0,23.0,32.0,0.0,0,0,0,0,0,0,0,1999
7,1,61127,130450,Alameda,Albany City Unified,Albany High,222.0,184.0,406.0,89.0,128,94,12,22,39,25,30,1999
8,1,61143,131177,Alameda,Berkeley Unified,Berkeley High,779.0,687.0,1466.0,325.0,514,443,25,46,90,130,223,1999
9,1,61143,134924,Alameda,Berkeley Unified,"East Campus, Berkeley Hig",61.0,44.0,105.0,0.0,0,0,0,0,0,0,0,1999
10,1,61150,132225,Alameda,Castro Valley Unified,Castro Valley High,507.0,471.0,978.0,167.0,225,158,15,52,65,63,30,1999
11,1,61150,135533,Alameda,Castro Valley Unified,Redwood Alternative (Cont,42.0,32.0,74.0,0.0,0,0,0,0,0,0,0,1999
12,1,61168,132746,Alameda,Emery Unified,Emery High,58.0,62.0,120.0,0.0,0,0,0,0,0,0,0,1999
13,1,61176,130062,Alameda,Fremont Unified,American High,299.0,242.0,541.0,55.0,94,62,5,27,23,18,21,1999
14,1,61176,130138,Alameda,Fremont Unified,Robertson High (Cont.),101.0,25.0,126.0,0.0,0,0,0,0,0,0,0,1999
15,1,61176,130435,Alameda,Fremont Unified,Vista Alternative,64.0,31.0,95.0,0.0,0,0,0,0,0,0,0,1999
16,1,61176,130534,Alameda,Fremont Unified,The Circle Of Independent,1.0,0.0,1.0,0.0,0,0,0,0,0,0,0,1999
17,1,61176,134270,Alameda,Fremont Unified,Irvington High,352.0,246.0,598.0,94.0,149,83,15,51,44,24,15,1999
18,1,61176,134452,Alameda,Fremont Unified,Kennedy (John F.) High,301.0,282.0,583.0,95.0,163,102,7,54,58,25,19,1999
19,1,61176,135244,Alameda,Fremont Unified,Mission San Jose High,526.0,499.0,1025.0,371.0,757,600,31,126,212,205,183,1999
20,1,61176,138693,Alameda,Fremont Unified,Washington High,355.0,290.0,645.0,48.0,90,53,14,23,22,19,12,1999
21,1,61192,133009,Alameda,Hayward Unified,Brenkwitz High (Cont.),57.0,54.0,111.0,0.0,0,0,0,0,0,0,0,1999
22,1,61192,133629,Alameda,Hayward Unified,Hayward High,426.0,373.0,799.0,32.0,38,31,1,6,10,14,7,1999
23,1,61192,135319,Alameda,Hayward Unified,Mt. Eden High,469.0,423.0,892.0,46.0,53,25,14,14,11,9,5,1999
24,1,61192,138339,Alameda,Hayward Unified,Tennyson High,346.0,277.0,623.0,37.0,39,17,4,18,5,3,9,1999
25,1,61200,130393,Alameda,Livermore Valley Joint Unified,Vineyard Alternative,58.0,40.0,98.0,0.0,0,0,0,0,0,0,0,1999
26,1,61200,130492,Alameda,Livermore Valley Joint Unified,Phoenix High (Cont.),12.0,11.0,23.0,0.0,0,0,0,0,0,0,0,1999
27,1,61200,132670,Alameda,Livermore Valley Joint Unified,Del Valle Continuation Hi,47.0,65.0,112.0,0.0,0,0,0,0,0,0,0,1999
28,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,385.0,318.0,703.0,40.0,48,32,4,12,15,11,6,1999
29,1,61200,134536,Alameda,Livermore Valley Joint Unified,Livermore High,420.0,395.0,815.0,55.0,84,33,15,36,17,9,7,1999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2561,57,5710579,5730148,Yolo,Yolo County Office of Education,Midtown Community,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2562,57,5710579,6077275,Yolo,Yolo County Office of Education,Yolo County Special Education,9.0,11.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2563,57,5772678,119578,Yolo,Davis Joint Unified,Da Vinci Charter Academy,94.0,97.0,191.0,36.0,NaN,NaN,3,4,13,18,5,2013
2564,57,5772678,5730098,Yolo,Davis Joint Unified,Davis School for Independent S,24.0,23.0,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2565,57,5772678,5732201,Yolo,Davis Joint Unified,Davis Senior High,551.0,586.0,1137.0,578.0,NaN,NaN,25,87,228,337,373,2013
2566,57,5772678,5732219,Yolo,Davis Joint Unified,King (Martin Luther) High (Con,11.0,39.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2567,57,5772686,5730056,Yolo,Esparto Unified,Madison Community High,7.0,4.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2568,57,5772686,5732904,Yolo,Esparto Unified,Esparto High,66.0,74.0,140.0,42.0,NaN,NaN,25,21,1,4,NaN,2013
2569,57,5772694,115329,Yolo,Washington Unified,West Sacramento Early College Prep,27.0,34.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2570,57,5772694,5730080,Yolo,Washington Unified,West Sacramento School for Independ,6.0,16.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2571,57,5772694,5735154,Yolo,Washington Unified,River City High,479.0,447.0,926.0,228.0,NaN,NaN,121,155,96,46,12,2013
2572,57,5772694,5739552,Yolo,Washington Unified,Yolo High,41.0,57.0,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2573,57,5772702,5730049,Yolo,Winters Joint Unified,Wolfskill High,14.0,19.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2574,57,5772702,5738505,Yolo,Winters Joint Unified,Winters High,116.0,111.0,227.0,67.0,NaN,NaN,15,35,30,16,17,2013
2575,57,5772710,101162,Yolo,Woodland Joint Unified,Pioneer High,400.0,361.0,761.0,265.0,NaN,NaN,106,125,103,68,32,2013
2576,57,5772710,5738802,Yolo,Woodland Joint Unified,Woodland Senior High,342.0,304.0,646.0,213.0,NaN,NaN,68,89,83,62,39,2013
2577,57,5772710,5738810,Yolo,Woodland Joint Unified,Cache Creek High (Continuation,31.0,112.0,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2578,58,5810587,113274,Yuba,Yuba County Office of Education,Thomas E. Mathews Community,8.0,5.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2579,58,5810587,5830047,Yuba,Yuba County Office of Education,Yuba County Juvenile Hall/Community,15.0,24.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2580,58,5810587,5830112,Yuba,Yuba County Office of Educatio,Yuba County Career Preparatory,68.0,124.0,192.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2581,58,5810587,6069249,Yuba,Yuba County Office of Education,Yuba County Special Education,8.0,30.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2582,58,5872728,6115935,Yuba,Camptonville Elementary,Camptonville Academy,38.0,27.0,65.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2583,58,5872736,5830013,Yuba,Marysville Joint Unified,Lindhurst High,246.0,251.0,497.0,89.0,NaN,NaN,66,58,27,8,4,2013
2584,58,5872736,5830054,Yuba,Marysville Joint Unified,Lincoln (Abraham) (Alternative,60.0,101.0,161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2585,58,5872736,5830088,Yuba,Marysville Joint Unified,North Marysville Continuation High,38.0,62.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2586,58,5872736,5830096,Yuba,Marysville Joint Unified,South Lindhurst Continuation High,51.0,62.0,113.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2587,58,5872736,5830138,Yuba,Marysville Joint Unified,Marysville Charter Academy for,49.0,46.0,95.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2588,58,5872736,5835202,Yuba,Marysville Joint Unified,Marysville High,207.0,179.0,386.0,15.0,NaN,NaN,3,4,6,2,NaN,2013
2589,58,5872769,123570,Yuba,Wheatland Union High,Wheatland Community Day High,2.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
2590,58,5872769,5838305,Yuba,Wheatland Union High,Wheatland Union High,172.0,156.0,328.0,83.0,NaN,NaN,43,54,22,7,3,2013

In [160]:
ap_14_16['School Number'] = pd.to_numeric(ap_14_16['cds'].astype(str).str[-6:])

In [161]:
ap_14_16

,Enroll1012,Enroll12,NumScr1,NumScr2,NumScr3,NumScr4,NumScr5,NumTstTakr,cds,cname,dname,enroll1012,enroll12,rtype,sname,year,School Number
0,1476.0,467.0,38,100,220,197,115,394,1612000133397,Alameda,Livermore Valley Joint Unified ...,NaN,NaN,S,Granada High ...,2014,133397
1,1294.0,438.0,37,87,156,98,62,255,1612000134536,Alameda,Livermore Valley Joint Unified ...,NaN,NaN,S,Livermore High ...,2014,134536
2,1539.0,491.0,117,181,172,103,63,324,1612340000000,Alameda,Newark Unified ...,NaN,NaN,D,...,2014,0
3,1414.0,418.0,117,181,172,103,63,324,1612340130054,Alameda,Newark Unified ...,NaN,NaN,S,Newark Memorial High ...,2014,130054
4,33.0,14.0,NaN,NaN,NaN,NaN,NaN,0,1612340130484,Alameda,Newark Unified ...,NaN,NaN,S,Crossroads High (Alternative) ...,2014,130484
5,3208.0,1170.0,195,366,422,255,176,701,1612420000000,Alameda,New Haven Unified ...,NaN,NaN,D,...,2014,0
6,125.0,73.0,NaN,NaN,NaN,NaN,NaN,0,1612420126763,Alameda,New Haven Unified ...,NaN,NaN,S,Decoto School for Independent Study ...,2014,126763
7,2908.0,943.0,195,366,422,255,176,701,1612420134668,Alameda,New Haven Unified ...,NaN,NaN,S,James Logan High ...,2014,134668
8,9016.0,3024.0,848,623,503,392,326,1644,1612590000000,Alameda,Oakland Unified ...,NaN,NaN,D,...,2014,0
9,204.0,67.0,1,10,20,9,4,44,1612590100065,Alameda,Oakland Unified ...,NaN,NaN,S,Oakland Unity High ...,2014,100065
10,103.0,25.0,NaN,NaN,NaN,NaN,NaN,0,1612590100701,Alameda,Oakland Unified ...,NaN,NaN,S,MetWest High ...,2014,100701
11,70.0,19.0,*,*,*,*,*,10,1612590106906,Alameda,Oakland Unified ...,NaN,NaN,S,Bay Area Technology ...,2014,106906
12,162.0,31.0,0,2,2,5,8,17,1612590108944,Alameda,Oakland Unified ...,NaN,NaN,S,Lighthouse Community Charter High ...,2014,108944
13,184.0,47.0,59,0,0,0,0,35,1612590110189,Alameda,Oakland Unified ...,NaN,NaN,S,McClymonds High ...,2014,110189
14,104.0,32.0,120,69,49,20,15,144,1612590111856,Alameda,Oakland Unified ...,NaN,NaN,S,American Indian Public High ...,2014,111856
15,176.0,53.0,20,2,6,13,2,36,1612590112797,Alameda,Oakland Unified ...,NaN,NaN,S,Coliseum College Prep Academy ...,2014,112797
16,174.0,49.0,28,23,21,16,17,77,1612590114868,Alameda,Oakland Unified ...,NaN,NaN,S,Oakland Charter High ...,2014,114868
17,173.0,46.0,NaN,NaN,NaN,NaN,NaN,0,1612590115238,Alameda,Oakland Unified ...,NaN,NaN,S,ARISE High ...,2014,115238
18,73.0,73.0,NaN,NaN,NaN,NaN,NaN,0,1612590115386,Alameda,Oakland Unified ...,NaN,NaN,S,Civicorps Corpsmember Academy ...,2014,115386
19,296.0,101.0,*,*,*,*,*,9,1612590115667,Alameda,Oakland Unified ...,NaN,NaN,S,Oakland International High ...,2014,115667
20,185.0,28.0,16,0,0,0,0,16,1612590118224,Alameda,Oakland Unified ...,NaN,NaN,S,Aspire Golden State College Preparatory ...,2014,118224
21,94.0,87.0,NaN,NaN,NaN,NaN,NaN,0,1612590119859,Alameda,Oakland Unified ...,NaN,NaN,S,Gateway to College at Laney College ...,2014,119859
22,461.0,157.0,41,20,7,4,1,47,1612590125161,Alameda,Oakland Unified ...,NaN,NaN,S,Castlemont High ...,2014,125161
23,561.0,146.0,41,46,26,13,5,84,1612590125716,Alameda,Oakland Unified ...,NaN,NaN,S,Fremont High ...,2014,125716
24,218.0,63.0,NaN,NaN,NaN,NaN,NaN,0,1612590126748,Alameda,Oakland Unified ...,NaN,NaN,S,LPS Oakland R & D Campus ...,2014,126748
25,70.0,35.0,NaN,NaN,NaN,NaN,NaN,0,1612590130179,Alameda,Oakland Unified ...,NaN,NaN,S,Street Academy (Alternative) ...,2014,130179
26,208.0,68.0,14,0,7,7,8,26,1612590130575,Alameda,Oakland Unified ...,NaN,NaN,S,LIFE Academy ...,2014,130575
27,274.0,75.0,33,19,15,5,1,56,1612590130617,Alameda,Oakland Unified ...,NaN,NaN,S,"Oakland Military Institute, College Prep ...",2014,130617
28,213.0,63.0,20,8,23,13,6,70,1612590130666,Alameda,Oakland Unified ...,NaN,NaN,S,Aspire Lionel Wilson College Preparatory ...,2014,130666
29,1148.0,366.0,255,92,44,20,8,261,1612590135905,Alameda,Oakland Unified ...,NaN,NaN,S,Oakland High ...,2014,135905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2477,NaN,NaN,101,152,59,34,17,234,56768285635776,Ventura,Santa Paula Unified,1128.0,359.0,S,Santa Paula High,2016,635776
2478,NaN,NaN,355,552,621,544,560,1449,57000000000000,Yolo,NaN,6733.0,2174.0,C,NaN,2016,0
2479,NaN,NaN,*,*,*,*,*,1,57105790000000,Yolo,Yolo County Office of Education,91.0,29.0,D,NaN,2016,0
2480,NaN,NaN,22,101,245,339,468,607,57726780000000,Yolo,Davis Joint Unified,2125.0,700.0,D,NaN,2016,0
2481,NaN,NaN,7,10,19,19,12,54,57726780119578,Yolo,Davis Joint Unified,311.0,104.0,S,Da Vinci Charter Academy,2016,119578
2482,NaN,NaN,*,*,*,*,*,1,57726785730098,Yolo,Davis Joint Unified,76.0,32.0,S,Davis School for Independent Study,2016,730098
2483,NaN,NaN,14,90,225,318,456,549,57726785732201,Yolo,Davis Joint Unified,1683.0,530.0,S,Davis Senior High,2016,732201
2484,NaN,NaN,*,*,*,*,*,1,57726785732219,Yolo,Davis Joint Unified,50.0,32.0,S,King (Martin Luther) High (Continuation),2016,732219
2485,NaN,NaN,*,*,*,*,*,2,57726786066245,Yolo,Davis Joint Unified,0.0,0.0,S,Ralph Waldo Emerson Junior High,2016,66245
2486,NaN,NaN,21,25,20,13,3,60,57726860000000,Yolo,Esparto Unified,241.0,72.0,D,NaN,2016,0
2487,NaN,NaN,21,25,20,13,3,60,57726865732904,Yolo,Esparto Unified,226.0,68.0,S,Esparto High,2016,732904
2488,NaN,NaN,109,169,120,62,23,225,57726940000000,Yolo,Washington Unified,1690.0,550.0,D,NaN,2016,0
2489,NaN,NaN,*,*,*,*,*,1,57726940115329,Yolo,Washington Unified,54.0,18.0,S,West Sacramento Early College Prep Charter,2016,115329
2490,NaN,NaN,109,169,119,62,23,224,57726945735154,Yolo,Washington Unified,1503.0,466.0,S,River City High,2016,735154
2491,NaN,NaN,22,49,35,11,8,65,57727020000000,Yolo,Winters Joint Unified,366.0,118.0,D,NaN,2016,0
2492,NaN,NaN,22,49,35,11,8,65,57727025738505,Yolo,Winters Joint Unified,319.0,95.0,S,Winters High,2016,738505
2493,NaN,NaN,181,208,201,118,58,491,57727100000000,Yolo,Woodland Joint Unified,2220.0,705.0,D,NaN,2016,0
2494,NaN,NaN,47,107,122,74,30,251,57727100101162,Yolo,Woodland Joint Unified,1115.0,317.0,S,Pioneer High,2016,101162
2495,NaN,NaN,134,101,79,44,28,240,57727105738802,Yolo,Woodland Joint Unified,955.0,300.0,S,Woodland Senior High,2016,738802
2496,NaN,NaN,127,160,93,38,13,247,58000000000000,Yuba,NaN,2970.0,1060.0,C,NaN,2016,0
2497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,58105870000000,Yuba,Yuba County Office of Education,329.0,156.0,D,NaN,2016,0
2498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,58105875830112,Yuba,Yuba County Office of Education,221.0,103.0,S,Yuba County Career Preparatory Charter,2016,830112
2499,NaN,NaN,*,*,*,*,*,2,58727280000000,Yuba,Camptonville Elementary,120.0,39.0,D,NaN,2016,0
2500,NaN,NaN,*,*,*,*,*,2,58727286115935,Yuba,Camptonville Elementary,120.0,39.0,S,Camptonville Academy,2016,115935
2501,NaN,NaN,104,106,59,25,7,175,58727360000000,Yuba,Marysville Joint Unified,2010.0,697.0,D,NaN,2016,0
2502,NaN,NaN,87,66,33,16,5,105,58727365830013,Yuba,Marysville Joint Unified,820.0,249.0,S,Lindhurst High,2016,830013
2503,NaN,NaN,4,11,4,4,1,21,58727365830138,Yuba,Marysville Joint Unified,158.0,38.0,S,Marysville Charter Academy for the Arts,2016,830138
2504,NaN,NaN,13,28,21,5,1,48,58727365835202,Yuba,Marysville Joint Unified,658.0,202.0,S,Marysville High,2016,835202
2505,NaN,NaN,23,54,32,12,6,70,58727690000000,Yuba,Wheatland Union High,511.0,168.0,D,NaN,2016,0
2506,NaN,NaN,23,54,32,12,6,70,58727695838305,Yuba,Wheatland Union High,509.0,168.0,S,Wheatland Union High,2016,838305

In [155]:
ap_99_13[ap_99_13['School Name'] == 'Granada High']

,County Number,District Number,School Number,County Name,District Name,School Name,Grade 11 Enrollment (October 1998 CBEDS),Grade 12 Enrollment (October 1998 CBEDS),Grade 11+12 Enrollment (October 1998 CBEDS),Number of AP Exam Takers,Total Number of Exams Taken,Number of Exams With a Score of 3 or Greater,Number of Exams With a Score of 1,Number of Exams With a Score of 2,Number of Exams With a Score of 3,Number of Exams With a Score of 4,Number of Exams With a Score of 5,year
28,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,385.0,318.0,703.0,40.0,48,32,4,12,15,11,6,1999
27,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,397.0,358.0,755.0,52.0,61,37,3,21,19,12,6,2000
29,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,446.0,389.0,835.0,75.0,101,78,3,20,34,28,16,2001
31,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,405.0,420.0,825.0,87.0,143,109,7,27,44,29,36,2002
31,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,478.0,384.0,862.0,92.0,122,89,11,22,34,37,18,2003
32,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,508.0,446.0,954.0,99.0,161,123,5,33,41,47,35,2004
910,24,65730,2430064,Merced,Le Grand Union High,Granada High,27.0,0.0,27.0,0.0,--,--,--,--,--,--,--,2004
32,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,467.0,480.0,947.0,151.0,254,180,30,44,66,65,49,2005
956,24,65730,2430064,Merced,Le Grand Union High,Granada High,20.0,17.0,37.0,0.0,--,--,--,--,--,--,--,2005
34,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,561.0,515.0,1076.0,182.0,NaN,NaN,14,43,91,106,85,2007
1023,24,65730,2430064,Merced,Le Grand Union High,Granada High,17.0,26.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
34,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,583.0,538.0,1121.0,221.0,NaN,NaN,29,65,109,91,88,2008
1053,24,65730,2430064,Merced,Le Grand Union High,Granada High,17.0,31.0,48.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008
36,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,557.0,556.0,1113.0,283.0,NaN,NaN,47,96,159,127,80,2009
1065,24,65730,2430064,Merced,Le Grand Union High,Granada High,41.0,25.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009
40,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,587.0,528.0,1115.0,281.0,NaN,NaN,33,84,123,150,99,2010
1081,24,65730,2430064,Merced,Le Grand Union High,Granada High,15.0,40.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
38,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,526.0,563.0,1089.0,347.0,NaN,NaN,46,93,176,173,102,2011
1122,24,65730,2430064,Merced,Le Grand Union High,Granada High,18.0,32.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011
44,1,61200,133397,Alameda,Livermore Valley Joint Unified,Granada High,546.0,506.0,1052.0,359.0,NaN,NaN,38,103,164,156,120,2012
1154,24,65730,2430064,Merced,Le Grand Union High,Granada High,14.0,35.0,49.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
39,1,161200,133397,Alameda,Livermore Valley Joint Unified,Granada High,503.0,520.0,1023.0,355.0,NaN,NaN,23,94,163,196,129,2013
1161,24,2465730,2430064,Merced,Le Grand Union High,Granada High,20.0,21.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013